body {
    line-height: 1.7em;
    font-size: 16px;
    color: DimGray;
}

h3 {
    color: HotPink;
}

li {
    list-style-type:none;
}

a {
    text-decoration: none;
    color: HotPink;
}

.pure-menu.pure-menu-open.pure-menu-fixed {
    padding: 0.5em;
    z-index: 4;
    background: DarkSlateGray;
    border-bottom: none;
    text-align: center;
}

.pure-menu.pure-menu-horizontal, .pure-menu.pure-menu-horizontal .pure-menu-heading {
    color: White;
    font-size: 110%;
}

.splash {
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 100px;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    text-transform: uppercase;
}

.splash-container {
    color: White;
    background: HotPink;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 88%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.splash-head {
    border: 3px solid White;
    padding: 1em 1.6em;
    font-size: 20px;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
}

@media (min-width: 48em) {
  .pure-menu.pure-menu-open.pure-menu-fixed {
    text-align: left;
  }
  .splash {
    width: 50%;
    height: 50%;
  }
  .splash-head {
    font-size: 200%;
  }
}

.splash-subhead {
    color: White;
    letter-spacing: 0.05em;
    opacity: 0.8;
    font-size: 13px;
}

.pure-button {
    padding: 0.5em 2em;
}

a.pure-button-primary {
    background: White;
    color: HotPink;
    border-radius: 5px;
}

.content-wrapper {
    position: absolute;
    top: 87%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: White;
}

.content {
    padding: 1em;
}

.content-head {
    color: DarkSlateGray;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
}

.content-subhead i {
    margin-right: 7px;
}

.is-center {
    text-align: center;
}

.ribbon {
    background: DarkSlateGray;
    color: White;
}

.ribbon h2 {
    color: White;
}

.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 2em;
}

.footer {
    height: 50%;
    background: DarkSlateGray;
    color: White;
    padding: 1em;
    text-align: center;
    font-size: 1.17em;
}

.footer a {
  color: White;
  padding: 6px;
}
